body {
    width: 100%; 
    height: 100vh; 
    background-image: url('https://wallpaperaccess.com/full/136008.jpg');  /* Setting the background image for the body */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
